---
title: Ben's Writing
layout: layouts/home.njk
description: Generally thoughts about JavaScript, React, and Developer Tooling
date: Last Modified
---

<p>
  In my continuing attempts to get better at writing more, here's a blog based on <a href="https://www.industrialempathy.com/posts/eleventy-high-performance-blog/">eleventy-high-performance-blog</a>. Let's see if it sticks, this time.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>